<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bgpublish.mapper.DisacountMapper">
	<insert id="addDisacount" parameterType="MerchDisacount">
		INSERT INTO tbl_merch_disacount_info(merch_id,disacount_money,disacount,disacount_date,effective_date,create_time)
		VALUES(#{merch_id},#{disacount_money},#{disacount},#{disacount_date},#{effective_date},date_format(now(),'%Y%m%d%H%i%s'))
	</insert>
	
	<!-- 根据ID删除商品优惠信息 -->
	<delete id="deleteDisacountById"  parameterType="String" >
		DELETE FROM tbl_merch_disacount_info WHERE disacount_id=#{disacount_id}
	</delete>
	
	<!-- 更新商品优惠信息 -->
	<update id="updateDisacount" parameterType="MerchDisacount">
		UPDATE tbl_merch_disacount_info
		<set>
	      <if test="merch_id gt 0">merch_id = #{merch_id},</if>
	      <if test="disacount_money != null">disacount_money = #{disacount_money},</if>
	      <if test="disacount != null">disacount = #{disacount},</if>
	      <if test="disacount_date != null">disacount_date = #{disacount_date},</if>
	      <if test="effective_date != null">effective_date = #{effective_date}</if>
	    </set>
		WHERE disacount_id=#{disacount_id}
	</update>
	
	<!-- 根据商品ID查询商品优惠信息 -->
	<select id="queryByMerchId" parameterType="String" resultType="MerchDisacount">
	 	<![CDATA[ 
		SELECT * FROM tbl_merch_disacount_info WHERE merch_id=#{merch_id}
		and effective_date >= date_format(now(),'%Y%m%d') 
		and disacount_date <= date_format(now(),'%Y%m%d')
		]]>
	</select>
	<!-- 根据商品ID查询商品优惠信息，查询所有 -->
	<select id="queryAllByMerchId" parameterType="String" resultType="MerchDisacount">
		<![CDATA[ 
		SELECT * FROM tbl_merch_disacount_info WHERE merch_id=#{merch_id}
		]]>
	</select>
	<!-- 根据商品ID查询商品优惠信息,只查询一条记录 -->
	<select id="queryFirstByMerchId" parameterType="String" resultType="MerchDisacount">
		<![CDATA[ 
		SELECT * FROM tbl_merch_disacount_info WHERE merch_id=#{merch_id}
		and effective_date >= date_format(now(),'%Y%m%d') 
		and disacount_date <= date_format(now(),'%Y%m%d') limit 1
		]]>
	</select>
</mapper>