<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bgpublish.mapper.FrequentlyAddressMapper">
	<!-- 增加常用地址 -->
	<insert id="addFrequentlyAddress" parameterType="FrequentlyAddress">
		INSERT INTO tbl_frequently_address(user_id,province,city,town,address,mobile,user_name,create_time) 
		VALUES (#{user_id},#{province},#{city},#{town},#{address},#{mobile},#{user_name},date_format(now(),'%Y%m%d%H%i%s'))
	</insert>
	<!-- 删除常用地址 -->
	<delete id="deleteFrequentlyAddressById" parameterType="String">
		DELETE FROM tbl_frequently_address WHERE freqa_id=#{freqa_id}
	</delete>
	<!-- 更新常用地址 -->
	<update id="updateFrequentlyAddress" parameterType="FrequentlyAddress">
		UPDATE tbl_frequently_address 
		<set>
	      <if test="user_id gt 0">user_id = #{user_id},</if>
	      <if test="province != null">province = #{province},</if>
	      <if test="city != null">city = #{city},</if>
	      <if test="town != null">town = #{town},</if>
	      <if test="address != null">address = #{address},</if>
	      <if test="mobile != null">mobile = #{mobile},</if>
	      <if test="user_name != null">user_name = #{user_name}</if>
	    </set>
		WHERE freqa_id=#{freqa_id}
	</update>
	<!-- 根据用户ID查询常用地址 -->
	<select id="queryByUserId" parameterType="String" resultType="FrequentlyAddress">
		SELECT * FROM tbl_frequently_address WHERE user_id=#{user_id}
	</select>
	<!-- 根据ID查询常用地址 -->
	<select id="queryById" parameterType="String" resultType="FrequentlyAddress">
		SELECT * FROM tbl_frequently_address WHERE freqa_id=#{freqa_id}
	</select>
</mapper>