<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bgpublish.mapper.MerchCarMapper">
	<!-- 加入到购物车中 -->
	<insert id="addMerchCar" parameterType="MerchCar">
		INSERT INTO tbl_merch_car (merch_id,buy_num,user_id,create_time)
		VALUES (#{merch_id},#{buy_num},#{user_id},date_format(now(),'%Y%m%d%H%i%s'))
	</insert>
	
	<!-- 更新购物车的信息 -->
	<update id="updateMerchCar" parameterType="MerchCar">
		UPDATE tbl_merch_car 
		<set>
	      <if test="merch_id gt 0">merch_id = #{merch_id},</if>
	      <if test="buy_num != null">buy_num = #{buy_num},</if>
	      <if test="user_id gt 0">user_id = #{user_id} </if>
	    </set>
	    WHERE car_id = #{car_id}
	</update>
	
	<!-- 更新商品数量 -->
	<update id="updateMerchCarBy" parameterType="MerchCar">
		UPDATE tbl_merch_car SET buy_num = #{buy_num}
	    WHERE merch_id = #{merch_id} and user_id = #{user_id}
	</update>
	
	<!-- 删除购物车信息 -->
	<delete id="deleteMerchCarBy" parameterType="MerchCar">
		DELETE FROM tbl_merch_car
		WHERE merch_id = #{merch_id} and user_id = #{user_id}
	</delete>
	
	<!-- 根据用户Id查询商品信息 -->
	<select id="queryMerchCarByUser" parameterType="String" resultMap="merchCarResultMap">
		<![CDATA[ 
			SELECT a.*,b.*,c.*,d.name store_name,
			(select name from tbl_merch_gallery where merch_id = a.merch_id limit 1) image_name
			FROM tbl_merch_car a 
			LEFT JOIN tbl_merch_info b ON a.merch_id = b.merch_id
			LEFT JOIN tbl_merch_disacount_info c on a.merch_id = c.merch_id 
			and c.disacount_date <= date_format(now(),'%Y%m%d%')
			and c.effective_date >= date_format(now(),'%Y%m%d%')
			LEFT JOIN tbl_store_info d ON b.store_id = d.store_id
			WHERE a.user_id=#{user_id}
		]]>
		
	</select>
	<!-- 商品信息、优惠信息等  -->
	<resultMap type="MerchCar" id="merchCarResultMap">
		<id column="car_id" property="car_id"/>
		<result column="merch_id" property="merch_id"/>
		<result column="buy_num" property="buy_num"/>
		<result column="create_time" property="create_time"/>
		
		<result column="image_name" property="image_name"/>
		<association property="merch" javaType="Merch">
	    	<id property="merch_id" column="merch_id"/>
	    	<result column="store_id" property="store_id"/>
			<result column="name" property="name"/>
			<result column="desc" property="desc"/>
			<result column="classify_id" property="classify_id"/>
			<result column="price" property="price"/>
			<result column="in_stock" property="in_stock"/>
			<result column="published_date" property="published_date"/>
			<result column="unit" property="unit"/>
			<result column="out_published" property="out_published"/>
			<result column="sm_recommend" property="sm_recommend"/>
			<result column="free_shipping" property="free_shipping"/>
			<result column="last_modify_time" property="last_modify_time"/>
			<result column="create_time" property="create_time"/>
	    </association>
		
		<!-- 商品优惠信息 -->
		<collection property="merchDisacounts" column="merch_id" notNullColumn="disacount_id" ofType="MerchDisacount">
			<id column="disacount_id" property="disacount_id"/>
			<result column="merch_id" property="merch_id"/>
			<result column="disacount_money" property="disacount_money"/>
			<result column="disacount" property="disacount"/>
			<result column="disacount_date" property="disacount_date"/>
			<result column="effective_date" property="effective_date"/>
			<result column="create_time" property="create_time"/>
		</collection>
	</resultMap>
</mapper>
