<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bgpublish.mapper.MerchMapper">
	<!-- 增加商品信息 -->
	<insert id="addMerch" parameterType="Merch">
		INSERT INTO tbl_merch_info (store_id,name,`desc`,classify_id,price,in_stock,published_date,out_published,unit,last_modify_time,create_time)
		VALUES (#{store_id},#{name},#{desc},#{classify_id},#{price},#{in_stock},#{published_date},#{out_published},#{unit},date_format(now(),'%Y%m%d%H%i%s'),date_format(now(),'%Y%m%d%H%i%s'))
	</insert>
	
	<!-- 更新商品信息 -->
	<update id="updateMerch" parameterType="Merch">
		UPDATE tbl_merch_info 
		<set>
	      <if test="store_id gt 0">store_id = #{store_id},</if>
	      <if test="name != null">name = #{name},</if>
	      <if test="desc != null">`desc` = #{desc},</if>
	      <if test="classify_id gt 0">classify_id = #{classify_id},</if>
	      <if test="price gt 0">price = #{price},</if>
	      <if test="in_stock gt 0">in_stock = #{in_stock},</if>
	      <if test="published_date != null">published_date = date_format(now(),'%Y%m%d%H%i%s'),</if>
	      <if test="out_published != null">out_published = #{out_published},</if>
	      <if test="unit != null">unit = #{unit},</if>
	      <![CDATA[ 
		      last_modify_time = date_format(now(),'%Y%m%d%H%i%s') 
		  ]]>
	    </set>
	    WHERE merch_id = #{merch_id}
	</update>
	
	<!-- 批量更新商品信息 -->
	<update id="updateMerchBatch" parameterType="java.util.List">
	     <foreach collection="list" item="item" index="index" open="" close="" separator=";">
			UPDATE tbl_merch_info 
			<set>
		      <if test="item.store_id gt 0">store_id = #{item.store_id},</if>
		      <if test="item.name != null">name = #{item.name},</if>
		      <if test="item.desc != null">`desc` = #{item.desc},</if>
		      <if test="item.classify_id gt 0">classify_id = #{item.classify_id},</if>
		      <if test="item.price != null">price = #{item.price},</if>
		      <if test="item.in_stock != null">in_stock = #{item.in_stock},</if>
		      <if test="item.published_date != null">published_date = #{item.published_date},</if>
		      <if test="item.out_published != null">out_published = #{item.out_published},</if>
		      <if test="item.unit != null">unit = #{item.unit},</if>
		       <![CDATA[ 
		       last_modify_time = date_format(now(),'%Y%m%d%H%i%s') 
		       ]]>
		    </set>
		    WHERE merch_id = #{item.merch_id}
		  </foreach>
	</update>
	
	<!-- 删除商品信息 -->
	<delete id="deleteMerchById" parameterType="String">
		DELETE FROM tbl_merch_info WHERE merch_id = #{merch_id}
	</delete>
	
	<!-- 删除商品信息 -->
	<delete id="deleteMerchByStoreId" parameterType="String">
		DELETE FROM tbl_merch_info WHERE store_id = #{store_id}
	</delete>
	
	<!-- 根据商品ID查询商品信息 -->
	<select id="queryMerchById" parameterType="String" resultType="Merch">
		SELECT * FROM tbl_merch_info WHERE merch_id = #{merch_id}
	</select>
	
	<!-- 根据商品ID查询商家用户信息 -->
	<select id="queryUserById" parameterType="String" resultType="User">
		<![CDATA[
		select a.* from tbl_user a left join tbl_store_info b on a.user_id = b.user_id
		left join tbl_merch_info c on b.store_id = c.store_id
		where c.merch_id = #{merch_id}
		]]>
	</select>
	
	<!-- 根据商品ID查询商品信息 -->
	<select id="queryMerchByMap" parameterType="Map" resultType="Merch">
		SELECT * FROM tbl_merch_info 
		<where>
			<if test="store_id gt 0">
				store_id = #{store_id}
			</if>
			<if test="name != null">
				AND name = #{name}
			</if>
			<if test="desc != null">
				AND `desc` = #{desc}
			</if>
			<if test="out_published != null">
				AND out_published = #{out_published}
			</if>
			<if test="classify_id gt 0">
				AND classify_id = #{classify_id}
			</if>
		</where>
		<![CDATA[ 
		   ORDER BY create_time DESC 
		]]>
	</select>
	
	<!-- 根据商品ID查询商品信息 -->
	<select id="queryMerchByStoreId" parameterType="String" resultType="Merch">
		SELECT * FROM tbl_merch_info WHERE store_id = #{store_id}
	</select>
	
	<!-- 根据用户ID查询商品信息 -->
	<select id="queryMerchByUserId" parameterType="String" resultType="Merch">
		SELECT a.* FROM tbl_merch_info a LEFT JOIN tbl_store_info b ON a.store_id = b.store_id 
		WHERE b.user_id = #{user_id}
	</select>
	<!-- 根据输入的条件（包括用户ID、是否下架、分类等）查询商品信息 -->
	<select id="queryMerchBy" parameterType="Merch" resultMap="merchResultMap">
		<![CDATA[ 
		    SELECT a.*,b.name store_name,(select count(1) from tbl_order_detail c where c.merch_id = a.merch_id) sales_volume,
			(select name from tbl_merch_gallery where merch_id = a.merch_id limit 1) image_name,c.*
			FROM tbl_merch_info a 
			LEFT JOIN tbl_store_info b ON a.store_id = b.store_id 
			LEFT JOIN tbl_merch_disacount_info c on a.merch_id = c.merch_id 
			and c.disacount_date <= date_format(now(),'%Y%m%d')
			and c.effective_date >= date_format(now(),'%Y%m%d')
		]]>
		<where>
			<if test="user_id gt 0">
				b.user_id = #{user_id}
			</if>
			<if test="out_published != null">
				AND a.out_published = #{out_published}
			</if>
			<if test="classify_id gt 0">
				AND a.classify_id = #{classify_id}
			</if>
		</where>
		<if test="order_by_clause != null">
			ORDER BY ${order_by_clause}
		</if>
	</select>
	<!-- 商品信息、优惠信息等  -->
	<resultMap type="Merch" id="merchResultMap">
		<id column="merch_id" property="merch_id"/>
		<result column="store_id" property="store_id"/>
		<result column="name" property="name"/>
		<result column="desc" property="desc"/>
		<result column="classify_id" property="classify_id"/>
		<result column="price" property="price"/>
		<result column="in_stock" property="in_stock"/>
		<result column="published_date" property="published_date"/>
		<result column="unit" property="unit"/>
		<result column="out_published" property="out_published"/>
		<result column="sm_recommend" property="sm_recommend"/>
		<result column="free_shipping" property="free_shipping"/>
		<result column="last_modify_time" property="last_modify_time"/>
		<result column="create_time" property="create_time"/>
		
		<result column="store_name" property="store_name"/>
		<result column="sales_volume" property="sales_volume"/>
		<result column="image_name" property="image_name"/>
		<!-- 商品优惠信息 -->
		<collection property="merchDisacounts" column="merch_id" notNullColumn="disacount_id" ofType="MerchDisacount">
			<id column="disacount_id" property="disacount_id"/>
			<result column="merch_id" property="merch_id"/>
			<result column="disacount_money" property="disacount_money"/>
			<result column="disacount" property="disacount"/>
			<result column="disacount_date" property="disacount_date"/>
			<result column="effective_date" property="effective_date"/>
			<result column="create_time" property="create_time"/>
		</collection>
	</resultMap>
</mapper>
