<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bgpublish.mapper.OrderMapper">
	<!-- 生成订单-->
	<insert id="createOrder" parameterType="Order" >
	    <selectKey keyProperty="order_id" resultType="String" order="BEFORE">  
             select getOrderId()  
   		 </selectKey> 
	    <![CDATA[
	    INSERT INTO tbl_order_info (order_id,amount_money,buyer_user_id,buyer_user_name,seller_user_id,seller_user_name,currency_unit, buyer_name,buyer_addr_id,buyer_phone,buyer_mobile,
	    send_type,freight,invoice_need,invoice_title,pay_type,buyer_pay_time,trad_time,trad_finish_time,update_time,status) 
	    VALUES(#{order_id},#{amount_money},#{buyer_user_id},#{buyer_user_name},#{seller_user_id},#{seller_user_name},#{currency_unit},#{buyer_name},#{buyer_addr_id},#{buyer_phone},#{buyer_mobile},
				#{send_type},#{freight},#{invoice_need},#{invoice_title},#{pay_type},#{buyer_pay_time},date_format(current_time,'%Y%m%d%H%i%s'),#{trad_finish_time},
				#{update_time},#{status})
		]]>
	</insert>
	
	<!-- 批量生成订单明细 -->
	<insert id="createOrderDetailBatch" parameterType="java.util.List">
		INSERT INTO tbl_order_detail (order_id,merch_id,merch_name,amount,unit,price) values 
		<foreach collection="list" item="otail" index="index" separator="," >
			(#{otail.order_id},#{otail.merch_id},#{otail.merch_name},#{otail.amount},#{otail.unit},#{otail.price})
		</foreach>
	</insert>
	
	<!-- 获取订单基本信息 -->
	<select id="getOrderInfoById" resultType="Order" parameterType="String">
	    select * from tbl_order_info where order_id = #{orderId}
	</select>
	
	<!-- 获取订单明细信息 -->
	<select id="getOrderDetailsById"  resultType="OrderDetail" parameterType="Order">
	    select * from tbl_order_detail where order_id = #{orderId}
	</select>
	
	<!-- 获取已完成订单基本信息 -->
	<select id="getCompletedOrderInfo" resultMap="orderResultMap" parameterType="Order">
	    select * from tbl_order_info
	    <where>
	    	<![CDATA[ status='4'  ]]>
			<if test="buyer_user_id gt 0">
				AND buyer_user_id = #{buyer_user_id}
			</if>
			<if test="seller_user_id gt 0">
				AND seller_user_id = #{seller_user_id}
			</if>
		</where>
	    order by order_id desc
	</select>
	
	<!-- 获取进行中订单基本信息 -->
	<select id="getInOrderInfo" resultMap="orderResultMap" parameterType="Order">
	    select * from tbl_order_info  
	    <where>
	    	<![CDATA[ status not in ('4','5','6')  ]]>
			<if test="buyer_user_id gt 0">
				AND buyer_user_id = #{buyer_user_id}
			</if>
			<if test="seller_user_id gt 0">
				AND seller_user_id = #{seller_user_id}
			</if>
		</where>
	    order by order_id desc
	</select>
	
	<resultMap type="Order" id="orderResultMap">
		<id column="order_id" property="order_id"/>
		<!-- 使用select属性这种方式，性能上有问题，以后需要优化的地方 -->
		<collection property="orderDetails" column="order_id" ofType="OrderDetail" select="getOrderDetailsById"></collection>
	</resultMap>
	
	<!-- 更新订单信息 -->
	<update id="updateOrderInfo" parameterType="Order">
		UPDATE tbl_order_info 
		<set>
	      <if test="amount_money != null">amount_money = #{amount_money},</if>
	      <if test="buyer_user_id  gt  0">buyer_user_id = #{buyer_user_id},</if>
	      <if test="buyer_user_name != null">buyer_user_name = #{buyer_user_name},</if>
	      <if test="seller_user_id gt 0">seller_user_id = #{seller_user_id},</if>
	      <if test="seller_user_name != null">seller_user_name = #{seller_user_name},</if>
	      <if test="currency_unit != null">currency_unit = #{currency_unit},</if>
	      <if test="buyer_name != null">buyer_name = #{buyer_name},</if>
	      <if test="buyer_addr_id != null">buyer_addr_id = #{buyer_addr_id},</if>
	      <if test="buyer_phone != null">buyer_phone = #{buyer_phone},</if>
	      <if test="buyer_mobile != null">buyer_mobile = #{buyer_mobile},</if>
	      <if test="send_type != null">send_type = #{send_type}</if>
	      <if test="send_no != null">send_no = #{send_no},</if>
	      <if test="send_time != null">send_time = #{send_time},</if>
	      <if test="freight != null">freight = #{freight},</if>
	      <if test="invoice_need != null">invoice_need = #{invoice_need},</if>
	      <if test="invoice_title != null">invoice_title = #{invoice_title}</if>
	      <if test="pay_type != null">pay_type = #{pay_type},</if>
	      <if test="buyer_pay_time != null">buyer_pay_time = #{buyer_pay_time},</if>
	      <if test="trad_time != null">trad_time = #{trad_time},</if>
	      <if test="trad_finish_time != null">trad_finish_time = #{trad_finish_time},</if>
	      <if test="seller_deliver_time != null">seller_deliver_time = #{seller_deliver_time}</if>
	      <if test="buyer_confirm_time != null">buyer_confirm_time = #{buyer_confirm_time},</if>
	      <if test="buyer_del != null">buyer_del = #{buyer_del},</if>
	      <if test="seller_del != null">seller_del = #{seller_del},</if>
	      <if test="buyer_del_time != null">buyer_del_time = #{buyer_del_time}</if>
	      <if test="seller_del_time != null">seller_del_time = #{seller_del_time},</if>
	      <if test="buyer_score != null">buyer_score = #{buyer_score},</if>
	      <if test="seller_score != null">seller_score = #{seller_score},</if>
	      <if test="status != null">status = #{status},</if>
	      <![CDATA[ UPDATE_TIME = date_format(current_time,'%Y%m%d%H%i%s') ]]>
	    </set>
	    WHERE order_id = #{order_id}
	</update>
	
	
	<!-- 批量更新商品信息 -->
	<update id="updateOrderTailBatch" parameterType="java.util.List">
	     <foreach collection="list" item="item" index="index" open="" close="" separator=";">
			UPDATE tbl_order_detail 
			<set>
		      <if test="item.merch_id != null">merch_id = #{item.merch_id},</if>
		      <if test="item.merch_name != null">merch_name = #{item.merch_name},</if>
		      <if test="item.amount != null">amount = #{item.amount},</if>
		      <if test="item.unit != null">unit = #{item.unit},</if>
		      <if test="item.price != null">price = #{item.price},</if>
		    </set>
		    WHERE order_id = #{item.orderId}
		  </foreach>
	</update>
	
	<!-- 删除商品信息 -->
	<delete id="deleteOrder" parameterType="String">
		DELETE FROM tbl_order_info WHERE order_id = #{orderId}
	</delete>
	
	<!-- 删除商品明细信息 -->
	<delete id="deleteOrderTailById" parameterType="String">
			delete from tbl_order_detail where order_id= #{orderId}
	</delete>
	
	
	<!-- 逻辑删除订单 -->
	<update id="logicDeleteOrder" parameterType="Order">
		UPDATE tbl_order_info 
		<set>
		     <if test="buyer_del != null"><![CDATA[ buyer_del = #{buyer_del},buyer_del_time=date_format(current_time,'%Y%m%d%H%i%s'), ]]> </if>
	         <if test="seller_del != null"><![CDATA[ seller_del = #{seller_del},seller_del_time=date_format(current_time,'%Y%m%d%H%i%s'), ]]></if>
    		<![CDATA[ update_time = date_format(current_time,'%Y%m%d%H%i%s') ]]>
    	</set>
    	 WHERE order_id = #{order_id}
	      	
    </update>
    
	<!-- 删除商品明细信息 -->
	<!-- 
	<delete id="deleteOrderTail" parameterType="OrderDetail">
			delete from tbl_order_detail where  merch_id = #{merch_id} and order_id= #{orderId}
	</delete>
	 -->
	 
	 <!-- 按天统计订单成交量 -->
	 <select id="countByDay"  resultType="OrderStat" parameterType="Map" >
	    SELECT SUBSTRING(trad_finish_time,1,8) stat_date,COUNT(1) order_sell
		FROM tbl_order_info 
		WHERE status='4' AND seller_user_id=#{user_id}
		AND trad_finish_time like CONCAT(#{stat_date},'%')
	</select>
	
	 <!-- 按月统计订单成交量 -->
	 <select id="countByMonth"  resultType="OrderStat" parameterType="Map">
	    SELECT SUBSTRING(trad_finish_time,5,2) stat_date,COUNT(1) order_sell
		FROM tbl_order_info 
		WHERE status='4' AND seller_user_id=#{user_id}
		AND trad_finish_time like CONCAT(#{stat_date},'%')
		GROUP BY SUBSTRING(trad_finish_time,5,2)
	</select>
	
	 <!-- 按天分时统计订单成交量 -->
	 <select id="countByDayHour"  resultType="OrderStat" parameterType="Map">
	    SELECT CONCAT(SUBSTRING(trad_finish_time,9,2),':00') stat_date,COUNT(1) order_sell
		FROM tbl_order_info 
		WHERE status='4' AND seller_user_id=#{user_id}
		AND trad_finish_time like CONCAT(#{stat_date},'%')
		GROUP BY SUBSTRING(trad_finish_time,9,2)
	</select>
	
	<!-- 按天统计订单成交金额 -->
	 <select id="countMoneyByDay"  resultType="OrderStat" parameterType="Map">
	    SELECT SUBSTRING(trad_finish_time,1,8) stat_date,SUM(amount_money) amount_money
		FROM tbl_order_info 
		WHERE status='4' AND seller_user_id=#{user_id}
		AND trad_finish_time like CONCAT(#{stat_date},'%')
	</select>
	
	 <!-- 按天分时统计订单成交金额  -->
	 <select id="countMoneyByDayHour"  resultType="OrderStat" parameterType="Map">
	    SELECT CONCAT(SUBSTRING(trad_finish_time,9,2),':00') stat_date,SUM(amount_money) amount_money
		FROM tbl_order_info 
		WHERE status='4' AND seller_user_id=#{user_id}
		AND trad_finish_time like CONCAT(#{stat_date},'%')
		GROUP BY SUBSTRING(trad_finish_time,9,2)
	</select>
</mapper>