<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bgpublish.mapper.OrderMapper">
	<!-- 生成订单-->
	<insert id="createOrder" parameterType="Order" >
	    <![CDATA[
	    INSERT INTO tbl_order_info (order_id,amount_money,buyer_user_id,buyer_user_name,seller_user_id,seller_user_name,currency_unit, buyer_name,buyer_phone,buyer_mobile,
	    send_type,freight,invoice_need,invoice_title,pay_type,buyer_pay_time,trad_time,trad_finish_time,update_time,status,province_code,city_code,town_id,address,buyer_advise) 
	    VALUES(#{order_id},#{amount_money},#{buyer_user_id},#{buyer_user_name},#{seller_user_id},#{seller_user_name},#{currency_unit},#{buyer_name},#{buyer_phone},#{buyer_mobile},
				#{send_type},#{freight},#{invoice_need},#{invoice_title},#{pay_type},#{buyer_pay_time},date_format(now(),'%Y%m%d%H%i%s'),#{trad_finish_time},
				date_format(now(),'%Y%m%d%H%i%s'),#{status},#{province_code},#{city_code},#{town_id},#{address},#{buyer_advise})
		]]>
	</insert>
	
	<!-- 批量生成订单明细 -->
	<insert id="createOrderDetailBatch" parameterType="java.util.List">
		INSERT INTO tbl_order_detail (order_id,merch_id,merch_name,amount,unit,price) values 
		<foreach collection="list" item="otail" index="index" separator="," >
			(#{otail.order_id},#{otail.merch_id},#{otail.merch_name},#{otail.amount},#{otail.unit},#{otail.price})
		</foreach>
	</insert>
	
	<!-- 获取订单基本信息 -->
	<select id="getOrderInfoById" resultType="Order" parameterType="String">
	    select * from tbl_order_info where order_id = #{orderId}
	</select>
	
	<!-- 获取订单明细信息 -->
	<select id="getOrderDetailsById"  resultType="OrderDetail" parameterType="Order">
	    select * from tbl_order_detail where order_id = #{orderId}
	</select>
	
	<!-- 获取订单明细信息 -->
	<select id="getDetailsById"  resultMap="orderResultMap2" parameterType="String">
		<![CDATA[ 
	    select a.*,b.order_id order_detail_id, b.merch_id, b.merch_name, b.amount, b.unit, b.price,
	    c.gallery_id, c.merch_id gallery_merch_id, c.classify_id, c.name, c.file_name, c.path, c.create_time
	    from tbl_order_info a
		join tbl_order_detail b on a.order_id = b.order_id
		left join tbl_merch_gallery c on b.merch_id = c.merch_id
	    where a.order_id=#{orderId}
	    ]]>
	</select>
	<!-- 获取已关闭订单基本信息 -->
	<!-- <select id="getClosedOrderInfo" resultMap="orderResultMap" parameterType="Order">
	    select * from tbl_order_info
	    <where>
	    	<![CDATA[ status='6'  ]]>
			<if test="buyer_user_id gt 0">
				AND buyer_user_id = #{buyer_user_id}
			</if>
			<if test="seller_user_id gt 0">
				AND seller_user_id = #{seller_user_id}
			</if>
		</where>
	    order by order_id desc
	</select> -->
	<select id="getClosedOrderInfo" resultMap="orderResultMap" parameterType="Order">
	    select a.*,b.*,c.* from tbl_order_info a
	    left join tbl_order_detail b on a.order_id = b.order_id
	    left join tbl_merch_gallery c on b.merch_id = c.merch_id
	    <where>
	    	<![CDATA[ a.status='6'  ]]>
			<if test="buyer_user_id gt 0">
				AND a.buyer_user_id = #{buyer_user_id}
			</if>
			<if test="seller_user_id gt 0">
				AND a.seller_user_id = #{seller_user_id}
			</if>
		</where>
	    order by a.order_id desc
	</select>
	
	<!-- 
		查询订单详情,为了解决那些一对多的关系呀，写那么多字段能否有简便点方法呢？ 
		Collection查询集合只出现一条数据,解决方法，在sql中为相同名称的字段增加
		别名的同时，在collection中去年id元素
	-->
	<resultMap type="Order" id="orderResultMap2">
		<id column="order_id" property="order_id"/>
		<result column="amount_money" property="amount_money"/>
		<result column="buyer_user_id" property="buyer_user_id"/>
		<result column="buyer_user_name" property="buyer_user_name"/>
		<result column="seller_user_id" property="seller_user_id"/>
		<result column="seller_user_name" property="seller_user_name"/>
		<result column="currency_unit" property="currency_unit"/>
		<result column="buyer_name" property="buyer_name"/>
		<result column="buyer_phone" property="buyer_phone"/>
		<result column="buyer_mobile" property="buyer_mobile"/>
		<result column="send_type" property="send_type"/>
		<result column="send_no" property="send_no"/>
		<result column="send_time" property="send_time"/>
		<result column="freight" property="freight"/>
		<result column="invoice_need" property="invoice_need"/>
		<result column="invoice_title" property="invoice_title"/>
		<result column="pay_type" property="pay_type"/>
		<result column="buyer_pay_time" property="buyer_pay_time"/>
		<result column="trad_time" property="trad_time"/>
		<result column="trad_finish_time" property="trad_finish_time"/>
		<result column="update_time" property="update_time"/>
		<result column="seller_deliver_time"  property="seller_deliver_time"/>
		<result column="buyer_confirm_time"  property="buyer_confirm_time"/>
		<result column="seller_del" property="seller_del"/>
		<result column="buyer_del" property="buyer_del"/>
		<result column="buyer_del_time" property="buyer_del_time"/>
		<result column="seller_del_time" property="seller_del_time"/>
		<result column="buyer_score" property="buyer_score"/>
		<result column="seller_score" property="seller_score"/>
		<result column="status" property="status"/>
		<result column="province_code" property="province_code"/>
		<result column="city_code" property="city_code"/>
		<result column="town_id" property="town_id"/>
		<result column="address" property="address"/>
		<result column="buyer_advise" property="buyer_advise"/>
		<collection property="orderDetails" column="order_detail_id" ofType="OrderDetail">
			<result column="merch_id" property="merch_id"/>
			<result column="merch_name" property="merch_name"/>
			<result column="amount" property="amount"/>
			<result column="unit" property="unit"/>
			<result column="price" property="price"/>
			<collection property="merchGallerys" column="gallery_merch_id" notNullColumn="gallery_id" ofType="MerchGallery">
				<result column="gallery_id" property="gallery_id"/>
				<result column="classify_id" property="classify_id"/>
				<result column="name" property="name"/>
				<result column="file_name" property="file_name"/>
				<result column="path" property="path"/>
				<result column="create_time" property="create_time"/>
			</collection>
		</collection>
	</resultMap>
	<!-- 查询订单详情,为了解决那些一对多的关系呀，写那么多字段能否有简便点方法呢？ -->
	<resultMap type="Order" id="orderResultMap">
		<id column="order_id" property="order_id"/>
		<result column="amount_money" property="amount_money"/>
		<result column="buyer_user_id" property="buyer_user_id"/>
		<result column="buyer_user_name" property="buyer_user_name"/>
		<result column="seller_user_id" property="seller_user_id"/>
		<result column="seller_user_name" property="seller_user_name"/>
		<result column="currency_unit" property="currency_unit"/>
		<result column="buyer_name" property="buyer_name"/>
		<result column="buyer_phone" property="buyer_phone"/>
		<result column="buyer_mobile" property="buyer_mobile"/>
		<result column="send_type" property="send_type"/>
		<result column="send_no" property="send_no"/>
		<result column="send_time" property="send_time"/>
		<result column="freight" property="freight"/>
		<result column="invoice_need" property="invoice_need"/>
		<result column="invoice_title" property="invoice_title"/>
		<result column="pay_type" property="pay_type"/>
		<result column="buyer_pay_time" property="buyer_pay_time"/>
		<result column="trad_time" property="trad_time"/>
		<result column="trad_finish_time" property="trad_finish_time"/>
		<result column="update_time" property="update_time"/>
		<result column="seller_deliver_time"  property="seller_deliver_time"/>
		<result column="buyer_confirm_time"  property="buyer_confirm_time"/>
		<result column="seller_del" property="seller_del"/>
		<result column="buyer_del" property="buyer_del"/>
		<result column="buyer_del_time" property="buyer_del_time"/>
		<result column="seller_del_time" property="seller_del_time"/>
		<result column="buyer_score" property="buyer_score"/>
		<result column="seller_score" property="seller_score"/>
		<result column="status" property="status"/>
		<result column="province_code" property="province_code"/>
		<result column="city_code" property="city_code"/>
		<result column="town_id" property="town_id"/>
		<result column="address" property="address"/>
		<result column="buyer_advise" property="buyer_advise"/>
		<!-- 使用select属性这种方式，性能上有问题，以后需要优化的地方 -->
		<collection property="orderDetails" column="order_id" ofType="OrderDetail">
			<id column="order_id" property="order_id"/>
			<result column="merch_id" property="merch_id"/>
			<result column="merch_name" property="merch_name"/>
			<result column="amount" property="amount"/>
			<result column="unit" property="unit"/>
			<result column="price" property="price"/>
			<collection property="merchGallerys" column="merch_id" notNullColumn="gallery_id" ofType="MerchGallery">
				<id column="merch_id" property="merch_id"/>
				<result column="gallery_id" property="gallery_id"/>
				<result column="classify_id" property="classify_id"/>
				<result column="name" property="name"/>
				<result column="file_name" property="file_name"/>
				<result column="path" property="path"/>
				<result column="create_time" property="create_time"/>
			</collection>
		</collection>
	</resultMap>
	
	<!-- 获取已完成订单基本信息 -->
	<select id="getCompletedOrderInfo" resultMap="orderResultMap" parameterType="Order">
	    select a.*,b.*,c.* from tbl_order_info a
	    left join tbl_order_detail b on a.order_id = b.order_id
	    left join tbl_merch_gallery c on b.merch_id = c.merch_id
	    <where>
	    	<![CDATA[ a.status='4'  ]]>
			<if test="buyer_user_id gt 0">
				AND a.buyer_user_id = #{buyer_user_id}
			</if>
			<if test="seller_user_id gt 0">
				AND a.seller_user_id = #{seller_user_id}
			</if>
		</where>
	    order by a.order_id desc
	</select>
	
	<!-- 获取进行中订单基本信息 -->
	<select id="getInOrderInfo" resultMap="orderResultMap" parameterType="Order">
	    select a.*,b.*,c.* from tbl_order_info a
	    left join tbl_order_detail b on a.order_id = b.order_id
	    left join tbl_merch_gallery c on b.merch_id = c.merch_id
	    <where>
	    	<![CDATA[ a.status not in ('4','5','6')  ]]>
			<if test="buyer_user_id gt 0">
				AND a.buyer_user_id = #{buyer_user_id}
			</if>
			<if test="seller_user_id gt 0">
				AND a.seller_user_id = #{seller_user_id}
			</if>
		</where>
	    order by a.order_id desc
	</select>
	<!-- 统计已完成订单 -->
	<select id="countCompletedOrder" resultType="Integer" parameterType="Order">
	    select count(1) from tbl_order_info a
	    <where>
	    	<![CDATA[ a.status='4'  ]]>
			<if test="buyer_user_id gt 0">
				AND a.buyer_user_id = #{buyer_user_id}
			</if>
			<if test="seller_user_id gt 0">
				AND a.seller_user_id = #{seller_user_id}
			</if>
		</where>
	    order by a.order_id desc
	</select>
	
	<!-- 统计进行中订单 -->
	<select id="countInOrderInfo" resultType="Integer" parameterType="Order">
	    select count(1) from tbl_order_info a
	    <where>
	    	<![CDATA[ a.status not in ('4','5','6')  ]]>
			<if test="buyer_user_id gt 0">
				AND a.buyer_user_id = #{buyer_user_id}
			</if>
			<if test="seller_user_id gt 0">
				AND a.seller_user_id = #{seller_user_id}
			</if>
		</where>
	    order by a.order_id desc
	</select>
	<!-- 搜索订单 -->
	<select id="searchOrderInfo" resultMap="orderResultMap" parameterType="Map">
	    select a.*,b.*,c.* from tbl_order_info a
	    left join tbl_order_detail b on a.order_id = b.order_id
	    left join tbl_merch_gallery c on b.merch_id = c.merch_id
	    <where>
	    	<if test="order_id != null or merch_name != null or buyer_mobile != null or buyer_name != null">
				(
					a.order_id = #{order_id} or b.merch_name = #{merch_name}
					or a.buyer_mobile = #{buyer_mobile} or a.buyer_name = #{buyer_name}
				)
			</if>
			<if test="buyer_user_id gt 0">
				AND a.buyer_user_id = #{buyer_user_id}
			</if>
			<if test="seller_user_id gt 0">
				AND a.seller_user_id = #{seller_user_id}
			</if>
		</where>
	    order by a.order_id desc
	</select>
	
	<!-- 查询订单详情 -->
	<!-- <resultMap type="Order" id="orderResultMap">
		<id column="order_id" property="order_id"/>
		使用select属性这种方式，性能上有问题，以后需要优化的地方
		<collection property="orderDetails" column="order_id" ofType="OrderDetail" select="getOrderDetailsById"></collection>
	</resultMap> -->
	
	<!-- 更新订单状态信息 -->
	<update id="updateOrderStatus" parameterType="Order">
		UPDATE tbl_order_info 
		<set>
	      <if test="status != null">status = #{status},</if>
	      <if test="trad_finish_time != null">trad_finish_time = #{trad_finish_time},</if>
	      <![CDATA[ UPDATE_TIME = date_format(now(),'%Y%m%d%H%i%s') ]]>
	    </set>
	    WHERE order_id = #{order_id}
	</update>
	
	<!-- 更新订单信息 -->
	<update id="updateOrderInfo" parameterType="Order">
		UPDATE tbl_order_info 
		<set>
	      <if test="amount_money gte 0">amount_money = #{amount_money},</if>
	      <if test="buyer_user_id  gt  0">buyer_user_id = #{buyer_user_id},</if>
	      <if test="buyer_user_name != null">buyer_user_name = #{buyer_user_name},</if>
	      <if test="seller_user_id gt 0">seller_user_id = #{seller_user_id},</if>
	      <if test="seller_user_name != null">seller_user_name = #{seller_user_name},</if>
	      <if test="currency_unit != null">currency_unit = #{currency_unit},</if>
	      <if test="buyer_name != null">buyer_name = #{buyer_name},</if>
	      <if test="buyer_phone != null">buyer_phone = #{buyer_phone},</if>
	      <if test="buyer_mobile != null">buyer_mobile = #{buyer_mobile},</if>
	      <if test="send_type != null">send_type = #{send_type}</if>
	      <if test="send_no != null">send_no = #{send_no},</if>
	      <if test="send_time != null">send_time = #{send_time},</if>
	      <if test="freight gte 0">freight = #{freight},</if>
	      <if test="invoice_need != null">invoice_need = #{invoice_need},</if>
	      <if test="invoice_title != null">invoice_title = #{invoice_title}</if>
	      <if test="pay_type != null">pay_type = #{pay_type},</if>
	      <if test="buyer_pay_time != null">buyer_pay_time = #{buyer_pay_time},</if>
	      <if test="trad_time != null">trad_time = #{trad_time},</if>
	      <if test="trad_finish_time != null">trad_finish_time = #{trad_finish_time},</if>
	      <if test="seller_deliver_time != null">seller_deliver_time = #{seller_deliver_time}</if>
	      <if test="buyer_confirm_time != null">buyer_confirm_time = #{buyer_confirm_time},</if>
	      <if test="buyer_del != null">buyer_del = #{buyer_del},</if>
	      <if test="seller_del != null">seller_del = #{seller_del},</if>
	      <if test="buyer_del_time != null">buyer_del_time = #{buyer_del_time}</if>
	      <if test="seller_del_time != null">seller_del_time = #{seller_del_time},</if>
	      <if test="buyer_score != null">buyer_score = #{buyer_score},</if>
	      <if test="seller_score != null">seller_score = #{seller_score},</if>
	      <if test="status != null">status = #{status},</if>
	      <if test="province_code != null">province_code = #{province_code},</if>
	      <if test="city_code != null">city_code = #{city_code},</if>
	      <if test="town_id gt 0">town_id = #{town_id},</if>
	      <if test="address != null">address = #{address},</if>
	      <if test="buyer_advise != null">buyer_advise = #{buyer_advise},</if>
	      <![CDATA[ UPDATE_TIME = date_format(now(),'%Y%m%d%H%i%s') ]]>
	    </set>
	    WHERE order_id = #{order_id}
	</update>
	
	
	<!-- 批量更新商品信息 -->
	<update id="updateOrderTailBatch" parameterType="java.util.List">
	     <foreach collection="list" item="item" index="index" open="" close="" separator=";">
			UPDATE tbl_order_detail 
			<set>
		      <if test="item.merch_id != null">merch_id = #{item.merch_id},</if>
		      <if test="item.merch_name != null">merch_name = #{item.merch_name},</if>
		      <if test="item.amount != null">amount = #{item.amount},</if>
		      <if test="item.unit != null">unit = #{item.unit},</if>
		      <if test="item.price != null">price = #{item.price},</if>
		    </set>
		    WHERE order_id = #{item.orderId}
		  </foreach>
	</update>
	
	<!-- 删除商品信息 -->
	<delete id="deleteOrder" parameterType="String">
		DELETE FROM tbl_order_info WHERE order_id = #{orderId}
	</delete>
	
	<!-- 删除商品明细信息 -->
	<delete id="deleteOrderTailById" parameterType="String">
		delete from tbl_order_detail where order_id= #{orderId}
	</delete>
	
	
	<!-- 逻辑删除订单 -->
	<update id="logicDeleteOrder" parameterType="Order">
		UPDATE tbl_order_info 
		<set>
		     <if test="buyer_del != null"><![CDATA[ buyer_del = #{buyer_del},buyer_del_time=date_format(now(),'%Y%m%d%H%i%s'), ]]> </if>
	         <if test="seller_del != null"><![CDATA[ seller_del = #{seller_del},seller_del_time=date_format(now(),'%Y%m%d%H%i%s'), ]]></if>
    		<![CDATA[ update_time = date_format(now(),'%Y%m%d%H%i%s') ]]>
    	</set>
    	 WHERE order_id = #{order_id}
	      	
    </update>
    
	<!-- 删除商品明细信息 -->
	<!-- 
	<delete id="deleteOrderTail" parameterType="OrderDetail">
			delete from tbl_order_detail where  merch_id = #{merch_id} and order_id= #{orderId}
	</delete>
	 -->
	 
	 <!-- 按天统计订单成交量 -->
	 <select id="countByDay"  resultType="OrderStat" parameterType="Map" >
	    SELECT SUBSTRING(#{stat_date},1,8) stat_date,COUNT(1) order_sell
		FROM tbl_order_info 
		WHERE status='4' AND seller_user_id=#{user_id}
		AND trad_finish_time like CONCAT(#{stat_date},'%')
	</select>
	
	 <!-- 按月统计订单成交量 -->
	 <select id="countByMonth"  resultType="OrderStat" parameterType="Map">
	    SELECT SUBSTRING(trad_finish_time,5,2) stat_date,COUNT(1) order_sell
		FROM tbl_order_info 
		WHERE status='4' AND seller_user_id=#{user_id}
		AND trad_finish_time like CONCAT(#{stat_date},'%')
		GROUP BY SUBSTRING(trad_finish_time,5,2)
	</select>
	
	 <!-- 按天分时统计订单成交量 -->
	 <select id="countByDayHour"  resultType="OrderStat" parameterType="Map">
	    SELECT CONCAT(SUBSTRING(trad_finish_time,9,2),':00') stat_date,COUNT(1) order_sell
		FROM tbl_order_info 
		WHERE status='4' AND seller_user_id=#{user_id}
		AND trad_finish_time like CONCAT(#{stat_date},'%')
		GROUP BY SUBSTRING(trad_finish_time,9,2)
	</select>
	
	<!-- 按天统计订单成交金额 -->
	 <select id="countMoneyByDay"  resultType="OrderStat" parameterType="Map">
	    SELECT SUBSTRING(#{stat_date},1,8) stat_date,IFNULL(SUM(amount_money),0) amount_money
		FROM tbl_order_info 
		WHERE status='4' AND seller_user_id=#{user_id}
		AND trad_finish_time like CONCAT(#{stat_date},'%')
	</select>
	
	 <!-- 按天分时统计订单成交金额  -->
	 <select id="countMoneyByDayHour"  resultType="OrderStat" parameterType="Map">
	    SELECT CONCAT(SUBSTRING(trad_finish_time,9,2),':00') stat_date,IFNULL(SUM(amount_money),0) amount_money
		FROM tbl_order_info 
		WHERE status='4' AND seller_user_id=#{user_id}
		AND trad_finish_time like CONCAT(#{stat_date},'%')
		GROUP BY SUBSTRING(trad_finish_time,9,2)
	</select>
</mapper>