<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bgpublish.mapper.StoreMapper">
	<!-- 增加商家信息 -->
	<insert id="addStore" parameterType="Store">
		INSERT INTO tbl_store_info (user_id,name,person,address,phone,logo,`desc`,last_modify_time,create_time)
		VALUES(#{user_id},#{name},#{person},#{address},#{phone},#{logo},#{desc},date_format(now(),'%Y%m%d%H%i%s'),date_format(now(),'%Y%m%d%H%i%s'))
	</insert>
	
	<!-- 更新商家信息 -->
	<update id="updateStore" parameterType="Store">
		UPDATE tbl_store_info 
		<set>
	      <if test="user_id gt 0">user_id = #{user_id},</if>
	      <if test="name != null">name = #{name},</if>
	      <if test="person != null">person = #{person},</if>
	      <if test="address != null">address = #{address},</if>
	      <if test="phone != null">phone = #{phone},</if>
	      <if test="logo != null">logo = #{logo},</if>
	      <if test="desc != null">`desc` = #{desc},</if>
	      <if test="classify_id gt 0">classify_id = #{classify_id},</if>
	      <![CDATA[ 
		      last_modify_time = date_format(now(),'%Y%m%d%H%i%s') 
		  ]]>
	    </set>
	    WHERE store_id = #{store_id}
	</update>
	
	<!-- 删除增加商家信息 -->
	<delete id="deleteStoreById" parameterType="String">
		DELETE FROM tbl_store_info WHERE store_id = #{store_id}
	</delete>
	
	<!-- 根据商家ID查询商家信息 -->
	<select id="queryStoreById" parameterType="String" resultType="Store">
		SELECT * FROM tbl_store_info WHERE store_id = #{store_id}
	</select>
	
	<!-- 根据用户ID查询商家信息 -->
	<select id="queryStoreByUserId" parameterType="String" resultType="Store">
		SELECT * FROM tbl_store_info WHERE user_id = #{user_id}
	</select>
	
	<!-- 按销量大小查询商家信息 -->
	<select id="queryStoreBySalesVolume" resultType="Store">
		select d.*, ifnull(sales_volume,0) sales_volume
		from `tbl_store_info` d
		left join (
		select c.`store_id`,sum(b.amount) sales_volume
		from `tbl_order_info` a 
		join `tbl_order_detail` b on a.`order_id` = b.`order_id`
		left join  `tbl_merch_info` c on b.`merch_id` = c.`merch_id`
		where a.`status` = '4'
		group by c.`store_id`) e
		on d.`store_id` = e.`store_id`
		order by sales_volume desc
	</select>
	<!-- 按收藏数查询商家信息 -->
	<select id="queryStoreByFavoriteCount" resultType="Store">
		select a.*,ifnull(sales_volume,0) sales_volume
		from  `tbl_store_info` a 
		left join (
		select store_id,count(1) sales_volume
		from `tbl_store_user_favorite` b group by b.`store_id`
		) c
		on a.`store_id` = c.`store_id`
		order by sales_volume desc
	</select>
	<!-- 按访问数查询商家信息 -->
	<select id="queryStoreByVisitCount" resultType="Store">
		select a.*,ifnull(sales_volume,0) sales_volume
		from  `tbl_store_info` a 
		left join (
		select store_id,count(1) sales_volume
		from `tbl_store_visit_hist` b group by b.`store_id`
		) c
		on a.`store_id` = c.`store_id`
		order by sales_volume desc
	</select>
</mapper>
