<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bgpublish.mapper.SysSeqMapper">
	<!-- 增加序列 -->
	<insert id="addSequence" parameterType="SysSeq">
		INSERT INTO tbl_sys_seq(name,seq_no) 
		VALUES (#{name},#{seq_no})
	</insert>
	<!-- 更新序列值 -->
	<update id="updateSequence" parameterType="SysSeq">
		UPDATE tbl_sys_seq 
		SET seq_no=#{seq_no}
		WHERE name=#{name}
	</update>
	<!-- 根据序列名称查询序列信息 -->
	<select id="queryBySeqName" parameterType="String" resultType="SysSeq">
		SELECT * FROM tbl_sys_seq WHERE name=#{name}
	</select>
	<!-- 调用mysql函数生成序列 -->
	<select id="generate" parameterType="String" resultType="Integer">
		SELECT gen_seq(#{name})
	</select>
</mapper>